*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
background:linear-gradient(180deg,#89CFF0,#FFD6E8);

}

.contenedor{

text-align:center;
z-index:10;

}

#sobre{

width:260px;
height:170px;
background:#ffb6c1;
position:relative;
cursor:pointer;
margin:auto;
transition:1s;

}

.tapa{

position:absolute;
width:100%;
height:100%;
background:#ff8fab;
clip-path:polygon(0 0,100% 0,50% 55%);
transform-origin:top;
transition:1s;

}

.carta{

position:absolute;
width:90%;
height:85%;
background:white;
left:5%;
top:8%;
display:flex;
justify-content:center;
align-items:center;
font-size:60px;
border-radius:10px;

}

.oculto{

display:none;

}

#mensaje{

width:700px;
max-width:90%;
background:rgba(255,255,255,.85);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
margin-top:40px;
animation:aparecer 1s;

}

h1{

color:#ff4f87;
margin-bottom:20px;

}

p{

font-size:20px;
line-height:2;
color:#444;

}

button{

margin-top:30px;
padding:15px 35px;
border:none;
border-radius:50px;
background:#ff4f87;
color:white;
font-size:18px;
cursor:pointer;

}

@keyframes aparecer{

from{

opacity:0;
transform:translateY(40px);

}

to{

opacity:1;

}

}

.petalo{

position:absolute;
color:pink;
animation:caer linear infinite;

}

@keyframes caer{

0%{

transform:translateY(-100px) rotate(0deg);

}

100%{

transform:translateY(110vh) rotate(720deg);

}

}
